.custom-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-card-content {
  padding: 16px;
}

@media (min-width: 640px) {
  .custom-card-content {
    padding: 24px;
  }
}
